# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Environment variables
.env
.env.*
!.env.example

# OSX
.DS_Store

# Expo
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Node
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*

# IDE
.idea/
.vscode/
*.swp
*.swo

# Temporary files
*.log
*.tmp
*.temp

# Build
build/
*.tsbuildinfo

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
*.pem

# local env files
.env*.local

app-example
